<ion-view view-title="Playlist">
  <ion-content>
    <h1>Ayek Gun</h1>
    <div class="list" ng-controller="MainCtrl">
	    <button fab class="button button-float">A</button>
	    <label class="item item-input">
	            <span class="input-label">Color</span>
	            <button class="button" color-picker="" model-mode="name" color-mode="name" ng-model="testColors.second" modal-title="Choose!" color-box="{{testColors.second}}">
	              <!-- {{testColors.second || &apos;Choose a color&apos; }}  -->
	            </button>

	    </label>	
	</div>
  </ion-content>
</ion-view>
